{% extends 'graphs/base.html' %}

{% block content %}
<div class="user-gallery">
    <h1>{{ gallery.title }}</h1>
    <p>Владелец: {{ gallery_user.username }}</p>
    
    {% if is_owner or is_admin %}
        <a href="{% url 'create_graph' %}" class="btn btn-create">
            Добавить график в галерею
        </a>
        <a href="{% url 'edit_gallery' %}" class="btn">Изменить название галереи</a>
    {% endif %}
    
    <div class="graph-list">
        {% for graph in graphs %}
            <div class="graph-card">
                <h3>{{ graph.title }}</h3>
                <img src="{{ graph.get_graph_url }}" alt="{{ graph.title }}">
                <p>Функция: y = {{ graph.a }}x² + {{ graph.b }}x + {{ graph.c }}</p>
                
                {% if is_owner or is_admin %}
                    <form action="{% url 'delete_graph' graph.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                    
                {% endif %}
            </div>
        {% empty %}
            <p>В этой галерее пока нет графиков.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}